(s3_response) {
    root * {{ s3_responses_dir }}
    header Content-Type "application/xml"
    templates {
        mime application/xml
    }
}

{% raw %}
(s3_facade) {
    @invalid_bucket {
    	method GET DELETE PUT POST
    	expression {path}.matches("^/[^/]*\\.\\.") || {path}.matches("^/[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}(?:/|$)") || (!{path}.matches("^/[a-z0-9][a-z0-9.-]{1,61}[a-z0-9](?:/|$)") && {path} != "/")
    }

    @invalid_bucket_head {
        method HEAD
        expression {path}.matches("^/[^/]*\\.\\.") || {path}.matches("^/[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}(?:/|$)") || (!{path}.matches("^/[a-z0-9][a-z0-9.-]{1,61}[a-z0-9](?:/|$)") && {path} != "/")
    }

    @valid_subpaths {
    	method GET DELETE PUT POST
    	path_regexp extractor ^/(?P<bucket>[^/]+)
    }

    @is_head {
    	method HEAD
    }

    handle @invalid_bucket {
        import s3_response
        respond `{{- include "s3_logic.tpl" -}}{{- include "invalid_bucket.xml" -}}` 400
    }

    handle @invalid_bucket_head {
        respond `{{ include "s3_logic.tpl" }}` 400
    }

    handle @valid_subpaths {
        import s3_response
        respond `{{- include "s3_logic.tpl" -}}{{- include "valid_subpaths.xml" -}}` 403
    }

    handle @is_head {
    	import s3_response
        respond `{{ include "s3_logic.tpl" }}` 403
    }

    handle {
    	import s3_response
        respond `{{- include "s3_logic.tpl" -}}{{- include "access_denied.xml" -}}` 403
    }
}
{% endraw %}